<div id="{{name}}-header">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#{{name}}-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">{{displayName}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="{{name}}-navbar">
                <button ng-repeat="action in actions" id="{{action.name}}-{{name}}" class="btn btn-default navbar-btn" ng-show="action.show()" ng-click="action.fn()"><span class="glyphicon glyphicon-{{action.icon}}"></span> {{action.displayName}}</button>
            </div>
        </div>
    </nav>
</div>
