<div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th ng-if="checklist" id="check-all"><input type="checkbox" ng-click="checkAll()"/></th>
                <th ng-repeat="column in fields">{{column.displayName}}</th>
                <th ng-if="actions">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="record in records">
                <td ng-if="checklist" id="{{$index}}-selected"><input type="checkbox" ng-model="record.selected"/></td>
                <td ng-repeat="column in fields" ng-switch="column.type" id="{{$parent.$index}}-{{column.name}}">
                    <div ng-switch-when="Computed">{{column.fn(record)}}</div>
                    <div ng-switch-when="Currency">{{record[column.name] | currency}}</div>
                    <div ng-switch-when="Date">{{record[column.name]| date}}</div>
                    <div ng-switch-when="Reference">{{record[column.name].name}}</div>
                    <div ng-switch-when="Boolean"><span ng-if="record[column.name] != undefined" class="glyphicon" ng-class="{'glyphicon-check': record[column.name], 'glyphicon-unchecked': !record[column.name]}"></span></div>
                    <div ng-switch-when="Image"><a ng-href="{{record[column.name]}}">URL</a></div>
                    <div ng-switch-when="String">{{record[column.name]}}</div>
                    <div ng-switch-default>{{record[column.name]}}</div>
                </td>
                <td ng-if="actions">
                    <button ng-repeat="(key, action) in actions" id="{{$parent.$index}}-{{key}}-btn" class="btn btn-default btn-sm" ng-class="action.class" ng-show="action.show(record)" ng-click="action.fn(record)"><span class="glyphicon glyphicon-{{action.icon}}"></span> {{action.displayName}}</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
